
<!DOCTYPE html>
<html>
<head>
<title>HeartBits</title> {% load staticfiles %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
<!-- jQuery  -->
<script src="{% static "app/js/jquery-3.2.1.min.js" %}"></script>

<!-- Poper  -->
<script src="{% static "app/bootstrap/js/popper.min.js" %}"></script>

<!-- BOOTSTRAP -->
<script src="{% static "app//bootstrap/js/bootstrap.min.js" %}"></script>
<link href="{% static "app/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" media="all" />


<!-- fonts  -->
<link href="{% static "app/font-awesome-4.7.0/css/font-awesome.min.css" %}" rel="stylesheet">


<!-- CSS -->
<link href="{% static "app/css/myStyle.css" %}" rel="stylesheet" type="text/css" media="all" />

<!-- javascript -->

{% block header %}
{% endblock %}
</head>
<body>


	
	{% block navbar %}
	<nav class="navbar navbar-expand navbar-normal">
		<a class="navbar-brand font-logo" href="{% url 'home' %}">HEARTBITS</a>

		<div class="container" id="navbarNav">
			<ul class="nav navbar-nav">
	
			</ul>
			<ul class="nav navbar-nav navbar-right">
			
				<li class="nav-item active font-nav"><a class="nav-link"
					href="{% url 'home' %}">TEMPLATE</a></li>
				 
				
				{% if login %}
				<li class="nav-item active font-nav"><a class="nav-link"
					href="{% url 'logout' %}">Logout</a></li>
				 
				{% else %}
				<li class="nav-item active font-nav"><a class="nav-link"
					href="{% url 'login' %}">Login</a></li>
				 <li class="nav-item active font-nav"><a class="nav-link"
					href="{% url 'registar' %}">Registar</a></li>
				{% endif %}
				
						
				
			</ul>
			
		</div>
		
	</nav>
	<hr class="separadorInicial">
	
	{% endblock %}
	
	{% block content %}{% endblock %}
	
	{% block footer %}{% endblock %}
	
	{% block scripts %}{% endblock %}

</body>
</html>
