{% extends "app/index.html" %}

{% block navbar %}
{% endblock %}
{% block content %}

<div class="container formulario-login">
	<br>
	<div class="font-logo text-center"><a class="preto" href="{% url 'home' %}" >HeartBits</a></div>
	<hr class="separadorInicial">
	<br>
	<form role="form" action="/login" method="post" name="login-form">
		{% csrf_token %}

		<div class="row text-left">
			<div class="col-12 font-medio font-Oswald">
				Email
			</div>
		</div>
		
		<div class="row ">
			<div class="col-12">
				<input class="form-control input-md" name="email"  type="email">
			</div>
		</div>
		
		<div class="row text-left margin-top-medio">
			<div class="col-12 font-medio font-Oswald">
				Senha
			</div>
		</div>
		<div class="row ">
			<div class="col-12">
				<input class="form-control" name="password" type="password">
			</div>
		</div>
		<div class="row margin-top-grande">
			<div class="col-12">
				<button type="submit" class="btn-login">Login</button>
			</div>
		</div>
	</form>
	
	


	<div class="text-center font-Oswald margin-top-medio">
		<a href="{% url 'registar' %}">CRIAR CONTA</a>
	</div>
	
	{% if failedLogin %}
	<div class="row text-center font-Owsald failed">
         <div class="col-12">EMAIL OU SENHA INCORRECTA</div></div>
	{% endif %}
	
	
</div>


{% endblock %}
{% block footer %}{% endblock %}