{% extends "app/index.html" %}

{% block navbar %}
{% endblock %}
{% block content %}
<div class="container formulario-registo">
	<br>
	<div class="font-logo text-center preto"><a class="preto" href="{% url 'home' %}"><span class="preto">HeartBits</span></a></div>
	<hr class="separadorInicial">
	<br>
	<form role="form" action="/registar" method="post" name="login-form">
		{% csrf_token %}
		
		<div class="row text-left">
			<div class="col-12 font-medio font-Oswald">
				Email
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<input class="form-control input-md" name="email"  type="email">
			</div>
		</div>
		<div class="row text-left margin-top-medio">
			<div class="col-12 font-medio font-Oswald">
				Senha
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<input class="form-control" name="password" type="password">
			</div>
		</div>
		<div class="row text-left margin-top-medio">
			<div class="col-12 font-medio font-Oswald">
				Confirmação da Senha
			</div>
		</div>
		<div class="row ">
			<div class="col-12">
				<input class="form-control" name="confirm_password"  type="password">
			</div>
		</div>
		<div class="row margin-top-grande">
			<div class="col-12">
				<button type="submit" class="btn-login">Criar Conta</button>
			</div>
		</div>
	</form>


	<div class="text-center font-Oswald margin-top-medio">
		<a href="{% url 'login' %}">LOGIN</a>
	</div>
	
	{% if failedEmail %}
	<div class="row text-center font-Owsald failed">
         <div class="col-12">EMAIL UTILIZADO JÁ EXISTE</div></div>
    {% elif failedPassword %}
	<div class="row text-center font-Owsald failed">
         <div class="col-12">SENHAS NÃO COINCIDEM</div></div>
    {% elif failedData %}
	<div class="row text-center font-Owsald failed">
         <div class="col-12">DADOS NÃO VÁLIDOS</div></div>
	{% endif %}
</div>


{% endblock %}
{% block footer %}{% endblock %}