@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Raleway);

.preto{
	font-color:black;
	color:black;
}

a::hover{
	text-decoration: none;
}
.font-Oswald{
	font-family:'Oswald';
}
.font-Raleway{
	font-family:'Raleway';
}

.fixed-top { position: absolute!important; }

.font-logo-preto{
	font-family:"Raleway";
	font-weight: bold;
	font-size: 1.5em;
	color: black
}
.font-logo{
	font-family:"Raleway";
	font-weight: bold;
	font-size: 1.5em;
}

.font-nav{
	font-family:"Raleway";
	font-weight: bold;
	font-size: 1.25em;
	text-transform: uppercase;
}
.font-default{
	font-family:"Helvetica"
}
.font-medio{
	font-size: 1.5em;
}
.font-micro{
	font-size:0.9em;
}

.negrito{
	font-weight: bold;
}
.footer{
	position: relative;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  padding: 1rem;
}


.separadorInicial{
  	border-top: 2px solid #2196F3;
  	margin:0;
	padding:0;
}
.noDecoration{
	text-decoration: none;
}
html,  body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}



/* Custom */
.navbar-custom {
    background-color: transparent;
    height:4em;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: black;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: black;
} 

/* normal */
.navbar-normal {
    background-color: white;
    height:4em;
}
/* change the brand and text color */
.navbar-normal .navbar-brand,
.navbar-normal .navbar-text {
    color: black;
}
/* change the link color */
.navbar-normal .navbar-nav .nav-link {
    color: black;
}
/* change the color of active or hovered links */
.navbar-normal .nav-item.active .nav-link,
.navbar-normal .nav-item:hover .nav-link {
    color: black;
} 


.formulario-login{
	width:20%;
	height: 65%;
	background:white;
	
}
.formulario-registo{
	width:20%;
	height: 75%;
	background:white;
	
}

.btn-login{
	border-radius:9px;
	font-family:'Oswald',sans-serif;
	color:black;
	font-size:135%;
	padding: 3px;
	width:100%;
	border: solid black 1px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: white;
}
.btn-login:hover{
	color: white;
	background-color:black;
}
.margin-top-pouco{
	margin-top:2%;
}
.margin-top-medio{
	margin-top:4%;
}
.margin-top-grande{
	margin-top:6%;
}
